* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster Two', cursive;
    letter-spacing: .05rem;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.song-list-title {
    text-align: center;
    margin: 10px 0;
    font-size: 2rem;
}

table {
    table-layout: fixed;
    margin: 0 auto;
    width: 80%;
    max-width: 1000px;
}

table, td, th {
    border-collapse: collapse;
    padding: 10px;
}

th {
    font-weight: 700;
    font-size: 1.2rem;
    background-color: hsl(135, 60%, 40%);
    color: rgb(255, 255, 255);
    border: none;
    overflow: hidden;
}

th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

th:nth-child(3) {
    cursor: pointer;
}

td:nth-child(2), td:nth-child(3), td:nth-child(4), td:nth-child(5) {
    text-align: center;
}

td {
    word-wrap: break-word;
    border-bottom: 2px solid hsl(135, 60%, 40%);
}

tr {
    height: 50px;
}

table button, input[type='button'], input[type='submit'] {
    background: none;
    border: none;
    font-size: 1rem;
    padding: 3px 15px;
    color:white;
    border-radius: 10px;
    cursor: pointer;
}

.btn-edit {
    background-color: hsl(50, 70%, 50%);
}

.btn-edit:hover {
    background-color: hsl(50, 70%, 40%);
}

.btn-delete {
    background-color: hsl(20, 70%, 50%);
}

.btn-delete:hover {
    background-color: hsl(20, 70%, 40%);
}

.btn-small {
    display: none;
    padding: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.rating-color {
    display: inline-block;
    width: 30px;
    height: 25px;
    border-radius: 50%;
    color: white;
    text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black;
    line-height: 25px;
}

form {
    margin: 20px 0;
    text-align: center;
}

form label {
    margin: 0 10px;
}

form span {
    display: inline-block;
    width: 20px;
}

input[type='button'] {
    width: 50px;
    margin: 0 5px;
    font-weight: 700;
    background-color: hsl(230, 50%, 50%);
}

input[type='button']:hover {
    background-color: hsl(230, 50%, 40%);
}

input[type='submit'] {
    display: block;
    background-color: hsl(135, 60%, 40%);
    width: 100px;
    margin: 0 auto;
    margin-top: 15px;
}

input[type='submit']:hover {
    background-color: hsl(135, 60%, 30%);
}

input[type='text'] {
    border: none;
    outline: none;
    font-size: 1rem;
    width: 140px;
    border-bottom: 2px solid hsl(230, 50%, 50%);
}

.rating-container {
    display: inline;
}

.form-edit-container {
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(230, 211, 211, .6);
}

.form-edit-container form {
    width: 500px;
    padding: 20px;
    background-color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;
}

.form-edit-container form input[type='button'] {
    margin-top: 10px;
}

.rating-label {
    display: block;
    margin-top: 10px;
}

.show {
    display: block;
}

@media (max-width: 620px) {
    table {
        width: 95%;
    }
    th {
        font-size: 1rem;
    }
    td {
        font-size: 0.8rem;
    }
    th:nth-child(1), th:nth-child(2) {
        width: 25%;
    }
    table button {
        display: none;
    }
    .btn-small {
        display: inline-block;
    }
    form {
        height: 220px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    input[type='text'] {
        width: 240px;
    }
    .form-edit-container form {
        width: 400px;
    }
}